.card {
    padding: 0 !important;
}

.fixed-font {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.fixed-fontsize {
    font-size: 14px;
}

.fixed-btn {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
    font-size: 14px !important;
    text-transform: none !important;
}
