@{
    ViewBag.Title = "Home Page";
    int count = 0;
    try
    {
        count = Model.Count();
    }
    catch(Exception e)
    {
        count = 0;
    }
}


<div class="card-columns" id="articles">
    Loading...
</div>