@model IEnumerable<NewsWebsite.Models.Article>

@{
    ViewBag.Title = "Home Page";
    int count = 0;
    try
    {
        count = Model.Count();
    }
    catch (Exception e) { }
}


<div class="card-columns">
    @if (count > 0)
    {
        foreach (var item in Model)
        {
            <div class="card">
                <img class="card-img-top img-fluid" src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title fixed-font">Card title that wraps to a new line</h5>
                    <p class="card-text fixed-fontsize">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        }
    }
    else
    {
        <span>Sorry, there are no articles at the moment.</span>
    }
</div>